body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, ul, li {
  font-family: sans-serif;
}
.name{
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}

.header{
  border: 2px solid white;
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

 li {
  float: left;
}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
 li a:hover {
  background-color: #111;
}
.search{
  margin-top: 10%;
  border: 2px solid white;
}
.sider{
  margin-left: 70%;
}

.bookWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .bookArticle {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
}
