.head{
    background-color: chartreuse;
    justify-content: center;
    text-align-last: center;
    padding: 30px;
}
.full{
    background-color: rgb(161, 161, 20);
}
.content{
   background-color: rgb(185, 110, 110);
   padding: 65px;
   text-align: center;
}

.about{
    border: 2px solid bisque;
    padding: 95px;
    text-align: center;
    border-radius: 5%;
    background-color: wheat;
}
.join{
    padding: 45px ;
    text-align: center;
    text-shadow: rgb(138, 207, 219);
}