.headerWrapper {

    display: flex;
    justify-content: space-between;

    .oldPustakHeader{
        display: flex;
    
        .logo {
            height: 50px;
            width: 50px;
        }
    
        .logoText {
            height: 50px;
        }
    }

    .actionNav {
        .sider{
          display: flex;
        }
      }
}